@model IEnumerable<SkillTracker.Entities.Skill>

@{
    ViewData["Title"] = "AllSkills";
}

<h2>AllSkills</h2>

<p>
    <a asp-controller="Home" asp-action="Index">Back to home</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkillId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillTotalExperiance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillTotalExperiance)
            </td>
            <td>
                @Html.ActionLink("Edit", "update", "skill" )
               @Html.ActionLink("Delete", "delete", "skill")
            </td>
        </tr>
}
    </tbody>
</table>
